@model IEnumerable<Project>

@foreach (var temp in Model)
{
    var accordionId = "accordion-" + temp.ProjectId;
    var headingId = "heading-" + temp.ProjectId;
    var collapseId = "collapse-" + temp.ProjectId;

    <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
            <div class="job-item p-4 mb-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                        <div class="text-start ps-4">
                            <h5 class="mb-3">@temp.ProjectName</h5>
                            <span class="text-truncate me-3"><i class="fa fa-solid fa-building text-primary me-2"></i>@temp.Company.CompanyName</span>
                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@temp.ExpectedCompletionDurationInDays Days</span>
                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@temp.Budget</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                        <div class="d-flex mb-3">
                            <div class="bd-example">
                                <div class="accordion" id="@accordionId">
                                    <div class="accordion-item">
                                        <h4 class="accordion-header" id="@headingId">
                                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                                <a>View And Apply</a>
                                            </button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-truncate"><i class="far fa-solid fa-money-bill text-primary me-2"></i>Payment Terms : @Enum.GetName(typeof(ProjectPaymentTerms), temp.ProjectPaymentTerms)</small>
                    </div>
                    <div id="@collapseId" class="accordion-collapse collapse" aria-labelledby="@headingId" data-bs-parent="#@accordionId">
                        <div class="accordion-body">
                            <div class="card-body">
                                <h5 class="card-title">Project Details</h5>
                                <hr />
                                <div class="row">
                                    <div class="col-3"><label class="control-label">Project Name </label></div>
                                    <div class="col-1">:</div>
                                    <div class="col-8">@temp.ProjectName</div>
                                </div>

                                <div class="row">
                                    <div class="col-3"><label class="control-label">Company Name</label></div>
                                    <div class="col-1">:</div>
                                    <div class="col-8">@temp.Company.CompanyName</div>
                                </div>
                                <div class="row">
                                    <div class="col-3"><label class="control-label">Project Payment Term</label></div>
                                    <div class="col-1">:</div>
                                    <div class="col-8">@Enum.GetName(typeof(ProjectPaymentTerms), temp.ProjectPaymentTerms)</div>
                                </div>
                                <div class="row">
                                    <div class="col-3"><label class="control-label">Budget </label></div>
                                    <div class="col-1">:</div>
                                    <div class="col-8">@temp.Budget</div>
                                </div>
                                <div class="row">
                                    <div class="col-3"><label class="control-label">Expected Completion (In Days)</label></div>
                                    <div class="col-1">:</div>
                                    <div class="col-8">@temp.ExpectedCompletionDurationInDays</div>
                                </div>
                                <div class="row">
                                    <div class="col-3"><label class="control-label">Terms And Conditions </label></div>
                                    <div class="col-1">:</div>
                                    <div class="col-8"> @temp.ProjectTermsAndConditions</div>
                                </div>

                                <form asp-action="SubmitApplication" asp-controller="Home" method="post">
                                    <input type="hidden" name="ProjectId" value="@temp.ProjectId" />
                                    <input type="hidden" name="ProjectName" value="@temp.ProjectName" />
                                    <input type="hidden" name="FreelancerId" value="@ViewBag.FreelancerId" />
                                    <div class="d-flex justify-content-center align-items-center mt-2">
                                        <input type="submit" class="btn btn-primary" value="Apply Now" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
