@model IEnumerable<Project>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Projects List</h5>

        <a class="btn btn-success" asp-action="Create" asp-controller="ProjectHome"> Create </a>
        <hr />

        
            <!-- Bordered Table -->
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Add Skills</th>
                        <th scope="col">Add Technologies</th>
                        <th scope="col">Documents</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int srno = 1;
                    }
                    @foreach (var temp in Model)
                    {
                        <tr>
                            <th scope="row">@srno</th>
                            <td>@temp.ProjectName</td>
                            <td><a class="btn btn-info btn-sm" asp-action="Index" asp-controller="ProjectSkillHome" asp-route-id="@temp.ProjectId">Add Skills</a></td>
                            <td><a class="btn btn-info btn-sm" asp-action="Index" asp-controller="ProjectTechnologyHome" asp-route-id="@temp.ProjectId">Add Technology</a></td>
                            <td><a class="btn btn-info btn-sm" asp-action="Index" asp-controller="ProjectDocumentHome" asp-route-id="@temp.ProjectId">Document</a></td>
                            <td>
                                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@temp.ProjectId">Edit</a>
                                |
                                <a class="btn btn-outline-primary btn-sm" asp-action="Delete" asp-route-id="@temp.ProjectId">Delete</a>
                                |
                                <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@temp.ProjectId">Details</a>
                            </td>
                        </tr>
                        srno++;
                    }
                </tbody>
            </table>
            <!-- End Bordered Table -->
 



    </div>
</div>