@model IEnumerable<ProjectTaskAssignment>

<div class="card">
    <div class="card-body">
        <!-- Bordered Table -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project Task Titile </th>
                        <th scope="col">Freelancer Name</th>
                        <th scope="col">Assigned Date</th>
                        <th scope="col">Completion Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int srno = 1;
                    }
                    @foreach (var temp in Model)
                    {
                        <tr>
                            <th scope="row">@srno</th>
                            <td>@temp.ProjectTask.TaskTitle</td>
                            <td>@temp.Freelaner.FullName</td>
                            <td>@temp.AssignedDate.ToString("dd-MM-yyyy")</td>
                            <td>@temp.ExpectedCompletionDate.ToString("dd-MM-yyyy")</td>
                        </tr>
                        srno++;
                    }
                </tbody>
            </table>
        </div>
        <!-- End Bordered Table -->
    </div>
</div>
